<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록 페이지</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/board/boardList.css">
</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>
    <th:block th:replace="~{board/sideMenu}"></th:block>
    <!-- <h1 th:text="|${contiName} 게시판 - ${countryList.countryName}|"></h1> -->
    <th:block th:if="${query1}"> <!-- 헤더에서 검색 한 경우 -->
    
    <h1>제목으로 검색</h1>
    <section class="board-list">
        <!-- 검색 구현 후 사용 -->
        <!-- <h3 style="margin:30px">OOO 검색 결과</h3> -->

        <div class="list-wrapper">
            <table class="list-table" >
                <th:block th:unless="${#lists.size(boardList)==0}">
                    <!-- 게시글이 존재할 때 -->
                    <thead>
                        <tr>
                            <th>글번호</th>
                            <th>제목[댓글수]</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>조회수</th>
                            <th>좋아요</th>
                        </tr>
                    </thead>
                        <!-- 게시글이 존재할 때 -->
                        <!-- unless : false일 때 수행하는 것 -->
                    <tbody>
                        <tr th:each=" board: ${boardList}" th:object="${board}">
                            <td th:th:text="*{boardNo}">게시글 번호</td>
                            <td> 
                                <a th:unless="${param.key}" 
                                    th:href="@{/board/{contiCode}/{boardNo}(contiCode=*{contiCode},boardNo=*{boardNo},cp=${pagination.currentPage})}" 
                                    th:text="|*{countryName} ) *{boardTitle}|">게시글 제목</a>
                                <!-- param에 key가 없을 때 (검색이 아닌 경우) -->


                                <a th:if="${param.key}" 
                                    th:href="@{/board/{contiCode}/{boardNo}
                                    (contiCode=*{contiCode},boardNo=*{boardNo},cp=${pagination.currentPage}, key=${param.key}, query=${param.query})}" 
                                    th:text="|*{countryName} ) *{boardTitle}|">게시글 제목</a>
                                <th:block th:text="|[*{commentCount}]|"></th:block><!-- 댓글 수 -->
                            </td>

                            <!-- 작성자 닉네임 -->
                            <td th:text="*{memberNickname}">닉네임</td>

                                <!-- 작성일 -->
                            <td th:text="*{writeDate}">2023-10-26</td>

                            <!-- 조회수 -->
                            <td th:text="*{readCount}">0</td>

                            <!-- 좋아요 수 -->
                            <td th:text="*{likeCount}">0</td>

                        </tr>
                    </tbody>
                </th:block>
                
                    <th:block th:if="${#lists.size(boardList)==0}">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">게시글이 존재하지 않습니다.</td>
                        </tr>
                    </tbody>
                    </th:block>
                
            </table>
        </div>





        <!-- ============================================================================================================== -->

        <!-- 게시글이 있을 때만 페이지네이션이 보이게 할 예정 -->
        <!-- 페이지 넘길 때 누르는 숫자 -->
        <div class="pagination-area">
            <ul class="pagination" th:unless="${param.key}" th:object="${pagination}">
            
                <!-- 첫 페이지로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode}, cp=1)}">&lt;&lt;</a></li>

                <!-- 이전 목록의 마지막 번호로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{prevPage})}">&lt;</a></li>
                <!-- 특정 페이지로 이동 -->
                <!-- <th:block th:each=" i : ${#numbers.sequence(pagination.startPage,pagination.endPage)}"> -->
                <th:block th:each=" i : *{#numbers.sequence(startPage,endPage)}">
                    <!-- 현재 보고있는 페이지 -->
                    <li th:if="${i == pagination.currentPage}">
                        <a class="current" th:text="${i}">현재 페이지</a>
                    </li>

                    <!-- 보고있지 않은 페이지 -->                    
                    <li th:unless="${i == pagination.currentPage}"> 
                        <a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=${i})}" 
                        th:text="${i}">이동할 페이지</a> 
                        <!-- cp는 없으니까 쿼리스트링으로 넣을거야 -->
                    </li>
                </th:block>

                <!-- 다음 목록 시작 번호로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{nextPage})}">&gt;</a></li>

                <!-- 끝 페이지로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{maxPage})}">&gt;&gt;</a></li>
            </ul>

            <ul class="pagination" th:if="${param.key}" th:object="${pagination}">
            
                <!-- 첫 페이지로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode}, cp=1, key=${param.key}, query=${param.query})}">&lt;&lt;</a></li>
            
                <!-- 이전 목록의 마지막 번호로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{prevPage}, key=${param.key}, query=${param.query})}">&lt;</a></li>
            
                <!-- 특정 페이지로 이동 -->
                <!-- <th:block th:each=" i : ${#numbers.sequence(pagination.startPage,pagination.endPage)}"> -->
                <th:block th:if="*{startPage lt endPage}" th:each=" i : *{#numbers.sequence(startPage,endPage)}">
                
                    <!-- 현재 보고있는 페이지 -->
                    <li th:if="${i == pagination.currentPage}">
                    
                        <a class="current" th:text="${i}">현재 페이지</a>
                    </li>

                    <!-- 보고있지 않은 페이지 -->                    
                    <li th:unless="${i == pagination.currentPage}"> 
                        <a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=${i}, key=${param.key}, query=${param.query})}" 
                        th:text="${i}">이동할 페이지</a> 
                        <!-- cp는 없으니까 쿼리스트링으로 넣을거야 -->
                    </li>
                </th:block>
                    <!-- 일치하는 게시글이 없을 경우 -->
                <th:block th:unless="*{startPage lt endPage}">
                    <li>
                        <a class="current">1</a>
                    </li>
                </th:block>
                
                <!-- 다음 목록 시작 번호로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{nextPage}, key=${param.key}, query=${param.query})}">&gt;</a></li>

                <!-- 끝 페이지로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{maxPage}, key=${param.key}, query=${param.query})}">&gt;&gt;</a></li>
            </ul>
        </div>
    </th:block>

    <th:block th:unless="${query1}"> <!-- 헤더에서 검색 안 한 경우 -->
    
    <h1 th:text="|${contiName} 게시판|"></h1>
    <section class="board-list">
        <!-- 검색 구현 후 사용 -->
        <!-- <h3 style="margin:30px">OOO 검색 결과</h3> -->

        <div class="list-wrapper">
            <table class="list-table" >
                <th:block th:unless="${#lists.size(boardList)==0}">
                    <!-- 게시글이 존재할 때 -->
                    <thead>
                        <tr>
                            <th>글번호</th>
                            <th>제목[댓글수]</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>조회수</th>
                            <th>좋아요</th>
                        </tr>
                    </thead>
                        <!-- 게시글이 존재할 때 -->
                        <!-- unless : false일 때 수행하는 것 -->
                    <tbody>
                        <tr th:each=" board: ${boardList}" th:object="${board}">
                            <td th:th:text="*{boardNo}">게시글 번호</td>
                            <td> 
                                <a th:unless="${param.key}" 
                                    th:href="@{/board/{contiCode}/{boardNo}(contiCode=${contiCode},boardNo=*{boardNo},cp=${pagination.currentPage})}" 
                                    th:text="|*{countryName} ) *{boardTitle}|">게시글 제목</a>
                                <!-- param에 key가 없을 때 (검색이 아닌 경우) -->
                                <a th:if="${param.key}" 
                                    th:href="@{/board/{contiCode}/{boardNo}
                                    (contiCode=${contiCode},boardNo=*{boardNo},cp=${pagination.currentPage}, key=${param.key}, query=${param.query})}" 
                                    th:text="|*{countryName} ) *{boardTitle}|">게시글 제목</a>
                                <th:block th:text="|[*{commentCount}]|"></th:block><!-- 댓글 수 -->
                            </td>

                            <!-- 작성자 닉네임 -->
                            <td th:text="*{memberNickname}">닉네임</td>

                                <!-- 작성일 -->
                            <td th:text="*{writeDate}">2023-10-26</td>

                            <!-- 조회수 -->
                            <td th:text="*{readCount}">0</td>

                            <!-- 좋아요 수 -->
                            <td th:text="*{likeCount}">0</td>

                        </tr>
                    </tbody>
                </th:block>
                
                    <th:block th:if="${#lists.size(boardList)==0}">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">게시글이 존재하지 않습니다.</td>
                        </tr>
                    </tbody>
                    </th:block>
                
            </table>
        </div>



        <div class="btn-area">
            <!-- 로그인 상태일 때만 글쓰기 버튼 노출 -->
            <button id="insertBtn">글쓰기</button>     
        </div>


        <!-- ============================================================================================================== -->

        <!-- 게시글이 있을 때만 페이지네이션이 보이게 할 예정 -->
        <!-- 페이지 넘길 때 누르는 숫자 -->
        <div class="pagination-area">
            <ul class="pagination" th:unless="${param.key}" th:object="${pagination}">
            
                <!-- 첫 페이지로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode}, cp=1)}">&lt;&lt;</a></li>

                <!-- 이전 목록의 마지막 번호로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{prevPage})}">&lt;</a></li>
                <!-- 특정 페이지로 이동 -->
                <!-- <th:block th:each=" i : ${#numbers.sequence(pagination.startPage,pagination.endPage)}"> -->
                <th:block th:each=" i : *{#numbers.sequence(startPage,endPage)}">
                    <!-- 현재 보고있는 페이지 -->
                    <li th:if="${i == pagination.currentPage}">
                        <a class="current" th:text="${i}">현재 페이지</a>
                    </li>

                    <!-- 보고있지 않은 페이지 -->                    
                    <li th:unless="${i == pagination.currentPage}"> 
                        <a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=${i})}" 
                        th:text="${i}">이동할 페이지</a> 
                        <!-- cp는 없으니까 쿼리스트링으로 넣을거야 -->
                    </li>
                </th:block>

                <!-- 다음 목록 시작 번호로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{nextPage})}">&gt;</a></li>

                <!-- 끝 페이지로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{maxPage})}">&gt;&gt;</a></li>
            </ul>

            <ul class="pagination" th:if="${param.key}" th:object="${pagination}">
            
                <!-- 첫 페이지로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode}, cp=1, key=${param.key}, query=${param.query})}">&lt;&lt;</a></li>
            
                <!-- 이전 목록의 마지막 번호로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{prevPage}, key=${param.key}, query=${param.query})}">&lt;</a></li>
            
                <!-- 특정 페이지로 이동 -->
                <!-- <th:block th:each=" i : ${#numbers.sequence(pagination.startPage,pagination.endPage)}"> -->
                <th:block th:if="*{startPage lt endPage}" th:each=" i : *{#numbers.sequence(startPage,endPage)}">
                
                    <!-- 현재 보고있는 페이지 -->
                    <li th:if="${i == pagination.currentPage}">
                    
                        <a class="current" th:text="${i}">현재 페이지</a>
                    </li>

                    <!-- 보고있지 않은 페이지 -->                    
                    <li th:unless="${i == pagination.currentPage}"> 
                        <a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=${i}, key=${param.key}, query=${param.query})}" 
                        th:text="${i}">이동할 페이지</a> 
                        <!-- cp는 없으니까 쿼리스트링으로 넣을거야 -->
                    </li>
                </th:block>
                    <!-- 일치하는 게시글이 없을 경우 -->
                <th:block th:unless="*{startPage lt endPage}">
                    <li>
                        <a class="current">1</a>
                    </li>
                </th:block>
                
                <!-- 다음 목록 시작 번호로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{nextPage}, key=${param.key}, query=${param.query})}">&gt;</a></li>

                <!-- 끝 페이지로 이동 -->
                <li><a th:href="@{/board/{contiCode}(contiCode=${contiCode},cp=*{maxPage}, key=${param.key}, query=${param.query})}">&gt;&gt;</a></li>
            </ul>
        </div>
        <!-- [[${contiCode}]] -->



        <!-- 검색창 -->
        <form th:action="@{{contiCode}(contiCode=${contiCode})}" method="get" id="boardSearch">
        

            <select name="key" id="searchKey">
                <option value="t">제목</option>
                <option value="c">내용</option>
                <option value="tc">제목+내용</option>
                <option value="w">작성자</option>
            </select>

            <input type="text" name="query"  id="searchQuery" placeholder="검색어를 입력해주세요.">
            <input type="hidden" name="countryCode" th:value="${countryCode}">
            <button>검색</button>
        </form>

    </section>
</th:block>
    <th:block th:replace="~{common/footer}"></th:block>
    <script th:inline="javascript">
        let contiCode =/*[[${contiCode}]]*/"대륙번호";
    </script>
<script src="/js/board/boardList.js"></script>
<script src="/js/header.js"></script>



</body>
</html>