<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="|${contiName} 게시판-${board.boardNo}번 글|">게시판 이름</title>
    <!-- *************************************************************** -->
    <!-- boardNameInterceptor가 세팅해준 값 -->
    <th:block th:replace="~{common/common}"></th:block>


    <link rel="stylesheet" href="/css/board/boardDetail-style.css">
    <link rel="stylesheet" href="/css/board/comment-style.css">

</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <section class="board-detail" th:object="${board}">  
            <!-- 제목 -->
            <h1 class="board-title" 
            th:text="*{boardTitle}">  게시글 제목  </h1>
            <!-- boardName은 인터셉터가 세팅한 거다 -->
            <!-- 프로필 + 닉네임 + 작성일 + 조회수 -->
            <div class="board-header">
                <div class="board-writer">

                    <!-- 프로필 이미지 -->
                    <!-- 프로필 이미지가 없을 경우 기본 이미지 출력 -->
                    <img th:unless="*{profileImg}"
                    th:src="#{user.default.image}">
                    <!-- 타임리프에서만 되는 건데
                    *{객체명} 값이 null이면 자동으로 false가 됨-->
                    <!-- # : messages.properties 파일 안의 값을 꺼내 쓰는 것! -->
                    <!-- PROFILE_IMG 조회해옴 -->
                    <!-- --------------------------------------------- -->
                    <!-- 프로필 이미지가 있을 경우 있는 프로필 이미지 출력 -->
                    <img th:if="*{profileImg}"
                    th:src="*{profileImg}">


                    <span th:text="*{memberNickname}">작성자 닉네임</span>

                    
                    <!-- 좋아요 하트 -->
                    <span class="like-area">
                        
                        <!-- 비동기로 좋아요 누를 때 동작(4월 15일 월요일 예정) -->
                        <!-- 좋아요 누른적이 있으면 fa-solid(채워진 하트), 없으면 fa-regular(비어있는 하트) 클래스 추가 -->
                        <i class="fa-heart" id="boardLike"
                        th:classappend="*{likeCheck == 1} ? fa-solid : fa-regular "
                        ></i>
                        <!-- 삼항 연산자 likeCheck가 1이면 fa-solid 추가하고, 아니면 fa-regular 클래스 추가 -->
                        <!-- fa : fontAwesome -->
                        <!-- 좋아요 개수 -->
                        <span th:text="*{likeCount}">0</span>
                    </span>

                </div>

                <div class="board-info">
                    <p> <span>작성일</span> [[*{writeDate}]] </p>   
                    
                    <!-- 저 위치에 출력되도록 하고싶으면 th:text의 다른 형태인 대괄호 두 겹으로 쓰면 된다!! -->
                    <!-- 수정한 적이 있어야만 이 p태그가 보여지도록 하기
                    *{boardUpdateDate} : 이 필드가 null이면 자동으로 false가 됨
                    참조하는 객체가 있으면 true, 없으면 false가 자동으로 되도록 타임리프에 지정돼있다(위에서 처럼)-->


                    <p> <span>조회수</span>[[*{readCount}]]</p>                    
                </div>
            </div>



            <!-- ====================== 이미지가 있을 경우 출력하는 구문 ====================== -->
        <th:block th:if="${#lists.size(board.imageList)}>0">

        <!-- 썸네일이 있을 경우 -->
            <th:block th:if="*{thumbnail}">
                <!-- 썸네일이 있을 경우에만 -->
                <h5>썸네일</h5>
                    <div class="img-box">
                        <div class="boardImg thumbnail">
                            <img th:src="|${thumbnail.imgPath}${thumbnail.imgRename}|">
                            <a th:href="|${thumbnail.imgPath}${thumbnail.imgRename}|"
                            th:download="${thumbnail.imgOriginalName}">다운로드</a> 
                        </div>
                    </div>
            </th:block>
                
                
                <th:block th:if="${#lists.size(board.imageList)> start} ">
                    <h5>업로드 이미지</h5>
                    <th:block th:each=" i : ${#numbers.sequence(start,#lists.size(board.imageList)-1)}">
                        <div class="img-box">
                            <div class="boardImg">
                                <img th:src="|${board.imageList[i].imgPath}${board.imageList[i].imgRename}|">   
                                <a th:href="|${board.imageList[i].imgPath}${board.imageList[i].imgRename}|"
                                th:download="${board.imageList[i].imgOriginalName}" >다운로드</a>                
                            </div>
                        </div>
                    </th:block>
                </th:block> 
        </th:block>
            <!-- ====================== 이미지가 있을 경우 출력하는 구문  ====================== -->
            
            <!-- 내용 -->
            <div class="board-content" th:text="*{boardContent}">내용</div>



            <!-- 버튼 영역-->
            <div class="board-btn-area">

                <!-- 로그인한 회원과 게시글 작성자 번호가 같은 경우-->

            <!-- <th:block th:if="${session.loginMember !=null and board.memberNo}==session.loginMember.memberNo"> -->
            <!-- 
                    ${객체?.필드} : 안전 탐색 연산자(Safe Navigation Operator)
객체가 null인지 판별해서 null이 아닌 경우에만 수행
                -->
            <th:block th:if="${board.memberNo == session.loginMember?.memberNo}">  
                <!-- loginMember가 있을 때에만 board.memberNo랑 비교 -->
                <!-- 로그인한 사람이 번호랑 작성자의 번호가 같을 때에만 수정,삭제 버튼을 보여지게 하겠다 -->
                <button id="updateBtn">수정</button>
                <button id="deleteBtn">삭제(POST)</button>
            </th:block>
                <button id="goToListBtn">목록으로</button>
            </div>

        </section>


        <!-- 댓글 영역-->
        <th:block th:replace="~{board/comment}"></th:block>

    </main>


    <th:block th:replace="~{common/footer}"></th:block>

    <script th:inline="javascript">
        //로그인 한 상태인 경우 로그인한 회원 번호를 전역 변수로 저장하는 코드

        /* th:inline="javascript" 
            const a = [[${boardName}]]; 
            //이렇게 한 경우 공지 게시판 이렇게 
            만약 th:inline="javascript"가 없었으면 공지게시판 이렇게 나오는데
            문자열 리터럴 "", ''가 있어야 해서 오류나는데
            자바에서 읽어왔더니 String이더라 그래서 javascript에 맞게 리터럴 추가해서 넣어주겠다 하는 게
            th:inline="javascript" 이다!!
            [[${adsa}]] : th:text를 직접 쓸 수 있는 건데 이렇게 쓰면 
            const loginMemberNo = 
            //타임리프에서  자바 코드 js
            ? : 이 loginMember가 null이 아닐 때에만 동작하는 안전 연산자?

            session.loginMember?.memberNo
            //-session에서 loginMember를 얻어 왔는데
            //null이 아닌 경우에만 회원 번호를 얻어오기
            // loginMember가 null인 경우에는 null반환
            // -> const loginMemberNo 에는 memberNo 또는 null이 넘어온다
            //js보다 java코드가 해석 우선순위 높아서 java 코드 해석된 후에는 같은 줄의 js 코드는 무시돼서 아예 해석되지 않는다
            //주석도 해석 안됨
            
        */
        const loginMemberNo= /*[[${session.loginMember?.memberNo}]]*/"로그인한 멤버";
        //위의 script에서 선언한 변수는 아래의 script태그들에서 사용할 수 있다

        /*현재 게시글 번호를 전역 변수로 저장*/
        const boardNo = /*[[${board.boardNo}]]*/"게시글 번호";
        //foward할 때 board를 model에 담아서 request scope로 전달했어서 여기서 사용할 수 있다

        /*현재 게시판 코드를 전역 변수로 저장*/
        const countryCode = /*[[${board.countryCode}]]*/"게시판 코드";
        //foward할 때 board를 model에 담아서 request scope로 전달했어서 여기서 사용할 수 있다

        /*현재 게시글 좋아요 여부(boardLike컬럼 추가해서 필드에 담아서 가져왔었다)를 전역 변수로 저장*/
        let likeCheck=/*[[${board.likeCheck}]]*/"좋아요 여부";
        //이건 좋아요 해제돼있으면 체크하거나, 체크돼있으면 해제할 때 사용
        //const면 값을 바꿀 수 없어서 let으로 하기

        const userDefaultImage = /*[[#{user.default.image}]]*/"기본이미지";
        //타임리프값이 자바스크립트에 맞는 자료형으로 전환된다
    </script>

    <script src="/js/board/boardDetail.js"></script>
    <script src="/js/board/comment.js"></script>
    
</body>
</html>