<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내정보</title>

  <th:block th:replace="~{common/common}"></th:block>
  
  <link rel="stylesheet" href="/css/myPage/myPage-style.css">
</head>
<body>

  <main>
    <!-- 헤더 -->
    <!-- 아시아 아프리카 북아메리카 남아메리카 유럽 오세아니아 -->
    <div class="fcontainer">
      <th:block th:replace="~{common/header}"></th:block>
    </div>

    <section class="main-content">
      <!-- 사이드 메뉴 -->
    
      <th:block th:replace="~{myPage/sideMenu}"></th:block>


      <!-- 화면 -->
      <section class="myPage-main">
        <h1 class="myPage-title">내정보 변경</h1>


        <form action="info" method="post" name="myPageFrm" id="updateInfo">
          
          <div class="myPage-row">
            <label>닉네임</label>

            <input type="text" name="memberNickname" 
              maxlength="10" id="memberNickname" 
              th:value="${session.loginMember.memberNickname}"
              >
          </div>

          <div class="myPage-row">
            <label>전화번호</label>
            <input type="text" name="memberTel" 
              maxlength="11" id="memberTel"
              th:value="${session.loginMember.memberTel}">
          </div>

          <div class="myPage-row info-title">
            <label>주소</label>
          </div>

          <div class="myPage-row info-address">
            <input type="text" name="memberAddress" 
              placeholder="우편번호" id="postcode"
              th:value="${postcode}">
            
              <button type="button" id="searchAd">검색</button>
          </div>

          <div class="myPage-row info-address">
            <input type="text" name="memberAddress" 
              placeholder="도로명/지번 주소" id="address"
              th:value="${address}">
          </div>
          
          <div class="myPage-row info-address">
            <input type="text" name="memberAddress" 
              placeholder="상세 주소" id="detailAddress"
              th:value="${detailAddress}">
          </div>

          <button class="myPage-submit">수정하기</button>
        </form>
      </section>

    </section>


  </main>

  <!-- 푸터 -->
  <th:block th:replace="~{common/footer}"></th:block>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/myPage/myPage.js"></script>
</body>
</html>
