<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>프로필</title>

  <link rel="stylesheet" href="/css/myPage-style.css">
</head>
<body>

  <main>
    
    <section>
      <!-- 마이페이지 메인 -->
      <div class="myPage-main">
        <h1 class="myPage-title">프로필</h1>

      <form action="profile">
          <div>
            <img src="/images/cat.jpg" alt=""
              id="profilImg">
          </div>
    
          <div>
            <button>이미지 변경</button>
          </div> 
    
          <div class="myPage-row">
            닉네임 :
          </div>
          <div class="myPage-row">이메일 :</div>
          <div class="myPage-row">주소 :</div>
          <div>
            <button class="changePw">비밀번호 변경</button>
          </div>
        </div>
      </form>
    </section>



  </main>

  <!--임시 푸터 -->
  <footer>
    <p>Copyright &copy; KH Information Educational Institute A-Class</p>
  
    <article>
        <a href="#">프로젝트 소개</a>    
        <span>|</span>
        <a href="#">이용약관</a>    
        <span>|</span>
        <a href="#">개인정보처리방침</a>    
        <span>|</span>
        <a href="#">고객센터</a>    
    </article>
  </footer>
  
  
</body>
</html>