<!-- 아시아 아프리카 북아메리카 남아메리카 유럽 오세아니아 -->
<header>
<section class="header">
    <div class="left">
        <img src="/images/logo.jpg" alt="여행로고">
    </div>
    <div class="center">
        <div>
            <input type="text" placeholder="검색어를 입력해 주세요.">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        
    </div>
    <!-- 로그인되지 않았을때 -->

    <div class="right" th:if="${session.loginMember ==null}">
        <div>
            <a href="/">메인페이지</a>
            |
            <a href="#">로그인</a>
            
        </div>
    </div>

    <!-- 로그인되었을때 마이페이지 변경 -->
    <div class="right" th:unless="${session.loginMember ==null}">
        <div>
            <a href="/myPage/profile">마이페이지</a>
            |
            <a href="#">로그아웃</a>
        </div>
    </div>

</section>
        <!-- application, request scope 값 이용 방법 -->
        <th:block th:each=" boardType : ${application.boardTypeList}">
            <a class="board-name" 
            th:text="${boardType.contiName}"
            th:href="@{/board/{contiCode}(contiCode=${boardType.contiCode})}"
            >게시판 이름</a>
            <!-- 이거 보고 하기!
                <a th:if="${param.key}" 
            th:href="@{/board/{contiCode}/{boardNo}
            (contiCode=${contiCode},boardNo=*{boardNo},cp=${pagination.currentPage}, key=${param.key}, query=${param.query})}" 
        
                                        th:text="*{boardTitle}">게시글 제목</a> -->
            <!-- <a class="board-name" 
            th:if="${boardType.contiCode} == ${contiCode}"
            th:text="${boardType.contiName}">게시판 이름</a> -->
            <!-- 반복해서 검색해서 boardType의 boardCode(application scope에서 꺼낸 것)랑
                request scope에서 꺼낸 거랑 같을 때에만 게시판 이름을 출력하겠다
            근데 인터셉터로도 할 수 있다-->
        </th:block>
</header>
