<!-- 아시아 아프리카 북아메리카 남아메리카 유럽 오세아니아 -->
<section>
    <div class="left">
        <img src="../../static/images/logo.jpg" alt="여행로고">
    </div>
    <div class="center">
        <div>
            <input type="text" placeholder="검색어를 입력해 주세요.">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        
    </div>
    <div class="right">
        <div>
            <div>메인페이지</div>
            |
            <div>로그인</div>
        </div>
    </div>
</section>
<section>
    <th:block th:each="boardType : ${application.boardTypeList}">
        <a th:href="@{/board/{selectContinent}(selectContinent=${boardType.contiCode})}"
        th:text="${boardType.contiName}">대륙명</a>
    </th:block>
    <!-- <span>아시아</span>
    <span>유럽</span>
    <span>북아메리카</span>
    <span>남아메리카</span>
    <span>아프리카</span>
    <span>오세아니아</span> -->
</section>