<!-- 아시아 아프리카 북아메리카 남아메리카 유럽 오세아니아 -->
<header>
<section>
    <div class="left">
        <img src="/images/logo.jpg" alt="여행로고">
    </div>
    <div class="center">
        <div>
            <input type="text" placeholder="검색어를 입력해 주세요.">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        
    </div>
    <!-- 로그인되지 않았을때 -->

    <div class="right" th:if="${session.loginMember ==null}">
        <div>
            <a href="/">메인페이지</a>
            |
            <a href="#">로그인</a>
        </div>
    </div>

    <!-- 로그인되었을때 마이페이지 변경 -->
    <div class="right" th:unless="${session.loginMember ==null}">
        <div>
            <a href="/myPage/profile">마이페이지</a>
            |
            <a href="#">로그아웃</a>
        </div>
    </div>

</section>
<section>
    <span>아시아</span>
    <span>북아메리카</span>
    <span>남아메리카</span>
    <span>아프리카</span>
    <span>오세아니아</span> 
</section>
</header>
