<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID 찾기</title>
    <link rel="stylesheet" href="/css/idResult.css">
</head>
<body>
   

    <h1>입력한 정보와 일치하는 이메일을 찾았습니다.
        <div id="email">
           
        <p id= "emailMessage" th:text="${member.memberEmail}"></p>
           
        </div>
    
        <div id="gotoMain">
            <button id="gotoMainBtn">메인페이지로 가기</button>
        </div>
    
    <script src="/js/idResult.js"></script>
</body>
</html>