<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="../../static/css/member/login-style.css">
</head>
<body>
    <div class="container">
        
        <a href="#">
            <img src="../../static/images/logo.jpg" alt="logo">
        </a>
        
        <input type="text" placeholder="Email"> <br>
        <input type="password" placeholder="Password"> <br>
        <button>Login</button>
        <div class="actions">
            <input type="checkbox" id="check">
            <i class="fa-regular fa-circle-check"></i>
            <label for="check">아이디 저장</label> <br>
            <a href="#">회원가입</a> | <a href="#">ID/PW 찾기</a>
        </div>
    </div>
    <th:block th:replace="~{common/footer}"></th:block>
    <script src="https://kit.fontawesome.com/dc2005e1de.js" 
    crossorigin="anonymous">
    /* 내 fontawsome 링크 */
    </script>
</body>
</html>