<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <!-- <link  rel="stylesheet" href="../../static/css/member/signup-style.css"> -->
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/static/css/member/signup-style.css"></link>
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
    <!-- 아시아 아프리카 북아메리카 남아메리카 유럽 오세아니아 -->
    <div class="fcontainer">
<section class="header">
    <div class="left">
        <a href="/">
            <img src="../images/logo.jpg" alt="여행로고" id="logo">
        </a>
    </div>
    <div class="center">
        <div>
            <input type="text" placeholder="검색어를 입력해 주세요.">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="right">
        <div>
            <a href="/">
                <div>메인페이지</div>
            </a>
            |
            <a href="/member/login">
                <div>로그인</div>
            </a>
        </div>
    </div>
</section>
<section class="nav">
    <th:block th:each="boardType : ${application.boardTypeList}">
        <span>아시아</span>
    </th:block>

</section>
    <div class="container">
        <div class="colitems">
            <form action="/member/signup" method = "POST" name = "signUpForm" id="signUpForm">
                <section class="top">
                    <div class="required">*</div><label for="memberEmail">이메일</label>
                </section>
                <section class="mid">
                    <input type="text" placeholder="이메일" id="memberEmail">
                    <button>인증번호 받기</button>
                </section>
                <section class="bottom" id="emailMessage">
                    메일을 받을 수 있는 이메일을 입력해주세요.
                </section>
                
            </div>
            <div class="colitems">
                <section class="top">
                    <div class="required">*</div><label for="authkey">인증번호</label>
                </section>
                <section class="mid">
                    <input type="text" placeholder="인증번호 입력" id="authkey">
                    <button>인증하기</button>
                </section>
                <section class="bottom">
                    인증번호가 일치하지 않습니다.
                </section>
                
            </div>
            <div class="colitems">
                <section class="top">
                    <div class="required">*</div><label for="memberPw">비밀번호</label>
                </section>
                <section class="mid">
                    <input type="password" placeholder="비밀번호" id="memberPw"> <br>
                    <input type="password" placeholder="비밀번호 확인" id="memberPwConfirm">
                </section>
                <section class="bottom" id="pwMessage">
                    영어, 숫자, 특수문자(!,@,#,-,_) 6~20글자 사이로 입력해주세요.
                </section>
                
            </div>
            <div class="colitems">
                <section class="top">
                    <div class="required">*</div><label for="memberNickname">닉네임</label>
                </section>
                <section class="mid">
                    <input type="text" placeholder="닉네임" id="memberNickname">
                </section>
                <section class="bottom" id="nickMessage">
                    한글,영어,숫자로만 2~10글자
                </section>
                
            </div>
            <div class="colitems">
                <section class="top">
                    <div class="required">*</div><label for="memberTel">전화번호</label>
                </section>
                <section class="mid">
                    <input type="text" placeholder="(-없이 숫자만 입력)" id="memberTel">
                </section>
                <section class="bottom" id="telMessage">
                    전화번호를 입력해주세요.(- 제외)
                </section>
                 
            </div>
            <div class="signUp-input-area">
                <input type="text" name="memberAddress" placeholder="우편번호" maxlength="6" id="postcode">                  
                
                      <button type="button" onclick="execDaumPostcode()" id="searchAddress">검색</button>
            </div>
    
            <div class="signUp-input-area">
                <input type="text" name="memberAddress" placeholder="도로명/지번 주소" id="address">
            </div>
    
            <div class="signUp-input-area">
                <input type="text" name="memberAddress" placeholder="상세 주소" id="detailAddress">
            </div>
    
    
            <button id="signUpBtn">가입하기</button>
            <!-- <div class="colitems">
                <section class="top">
                    <label for="memberAddress">주</label>
                </section>
                <section class="mid">
                    <input type="text" placeholder="우편번호" name = "memberAddress" id="postcode">
                    <button type = "button" onclick = "execDaumPostcode()" id="searchAddress">검색</button> <br>
                    <input type="text" placeholder="도로명/지번 주소" name = "memberAddress" id="address"> <br>
                    <input type="text" placeholder="상세 주소" name = "memberAddress" id="detailAddress">
                </section>
            </div>
            <button id = "signUpBtn">가입하기</button> -->
        </form>

    </div>
</div>
</main>
<th:block th:replace="~{common/footer}"></th:block>
    <!-- <footer>
        <p>Copyright &copy; KH Information Educational Institute A-Class</p>
    
        <article>
            <a href="#">프로젝트 소개</a>    
            <span>|</span>
            <a href="#">이용약관</a>    
            <span>|</span>
            <a href="#">개인정보처리방침</a>    
            <span>|</span>
            <a href="#">고객센터</a>    
        </article>
    </footer> -->
    
    <!-- font awesome 라이브러리 추가 + key 등록 -->
    <!-- 이걸 써놔야 거기서 받은 아이콘 쓸 수 있다 -->
    <!-- <script src="https://kit.fontawesome.com/a373078820.js" crossorigin="anonymous">
        /* 선생님꺼 */
    </script> --> 
    <!--
    <script src="https://kit.fontawesome.com/dc2005e1de.js" 
    crossorigin="anonymous">
    /* 내 fontawsome 링크 */
    </script>
    <script th:inline="javascript">
        const message =  /*[[${message}]]*/ "전달 받은 message";
    
        if(message != null) alert(message);
    </script> -->

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/member/signup.js"></script>
</body>
</html>