<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 찾기</title>
    <link rel="stylesheet" href="/css/member/searchId-style.css">
</head>
<body>
    <th:block th:replace="~{common/common}"></th:block>
    <div>
        <a href="/"><img src="/images/logo.jpg" alt="여행로고" width="300" height="300"></a>
    </div>
    <div class="idSearchMessage">
    <h1>이메일 찾기</h1>
    </div>
 
    <!-- 아이디 찾기하는데 필요한 요소 : 전화번호/생년월일 입력  -->
    
    <form action="/selectTelBirth" method="POST" name="selectTelBirth" id="selectTelBirth">
    <div>
        <div id="telnumber">전화번호</div>  
        <input type="text" name = "inputTel" id="inputTel" placeholder = "전화번호">
    </div>
    <div>
        <div id="birthday">생년월일</div> 
        <input type="text" name = "inputBirth" id="inputBirth" placeholder = "생년월일 (예 : 19901231)">
    </div>
    <div>
        
        <button id="submit">제출하기</button>
    </div>
    </form>
    <script src="/js/searchId.js"></script>
</body>

</html>