<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.travel.board.model.mapper.EditBoardMapper">
	
		<!--해당 게시판의 모든 국가 가져오기 -->
		<select id="countryList">
		SELECT *
		FROM COUNTRY
		WHERE CONTI_CODE = #{contiCode}
		</select>
		
		<!-- 게시글 글 부분만 작성 -->
		<insert id="boardInsert" useGeneratedKeys="true" parameterType="Board">
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
		SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO "BOARD" 
		VALUES(#{boardNo}, 
				#{boardTitle},
				#{boardContent},
				DEFAULT,
				DEFAULT,
				DEFAULT,
				#{memberNo},
				#{countryCode}
				)
		</insert>
		
		<!-- 게시글 이미지 여러 행 모두 삽입 -->
		<insert id="insertUploadList" parameterType="list">
	INSERT INTO "BOARD_IMG" 
	<foreach collection="list" item="img" open="(" close=")" separator=" UNION ">
	
	SELECT NEXT_IMG_NO(), #{img.imgOrder},#{img.imgRename}, 
			 #{img.boardNo} , #{img.imgPath}
			 FROM DUAL
	
	</foreach>
	</insert>
	<!-- //////////////////////////////////////////////////////////////////////////////// -->
	<!--게시글 제목,내용만 업데이트 -->
	<update id="boardUpdate">
		UPDATE "BOARD" SET
		BOARD_TITLE =  #{boardTitle},
		BOARD_CONTENT = #{boardContent},
		COUNTRY_CODE = #{countryCode}
		WHERE BOARD_NO = #{boardNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 게시글 이미지 수정 시 삭제된 이미지가 있는 경우 이미지 삭제 -->
	<delete id="deleteImage">
		DELETE FROM "BOARD_IMG"
		WHERE BOARD_NO = #{boardNo}
		AND IMG_ORDER IN (${deleteOrder})
	</delete>
	
	<!-- 게시글 이미지 새 이미지로 수정 -->
	<update id="updateImage">
		UPDATE "BOARD_IMG"
		SET 
		IMG_RENAME = #{imgRename}
		WHERE BOARD_NO = #{boardNo}
		AND IMG_ORDER = #{imgOrder}
	
	</update>
	
	<!-- 게시글에 새 이미지 삽입 1행씩 -->
	<insert id="insertImage">
		INSERT INTO "BOARD_IMG"
		VALUES(NEXT_IMG_NO(), #{imgOrder}, 
		#{imgRename}, #{boardNo}, #{imgPath})
	</insert>
	
	<!--게시글 삭제  -->
	<delete id="boardDelete">
		UPDATE "BOARD" SET
		BOARD_DEL_FL = 'Y'
		WHERE BOARD_NO     = #{boardNo}
		AND MEMBER_NO    = #{memberNo}
	</delete>
	
	<!-- 해당 대륙코드에 맞는 대륙명 얻어오기 -->
	<select id="contiName">
		SELECT CONTI_NAME FROM "CONTINENT" WHERE CONTI_CODE = #{contiCode}
	</select>
</mapper>
