<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.travel.board.model.mapper.EditBoardMapper">
		<!--해당 게시판의 모든 국가 가져오기 -->
		<select id="countryList">
		SELECT *
		FROM COUNTRY
		WHERE CONTI_CODE = #{contiCode}
		</select>
		
		<!-- 게시글 글 부분만 작성 -->
		<insert id="boardInsert" useGeneratedKeys="true" parameterType="Board">
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
		SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO "BOARD" 
		VALUES(#{boardNo}, 
				#{boardTitle},
				#{boardContent},
				DEFAULT,
				DEFAULT,
				DEFAULT,
				#{memberNo},
				#{countryCode}
				)
		</insert>
		
		<!-- 게시글 이미지 여러 행 모두 삽입 -->
		<insert id="insertUploadList" parameterType="list">
	INSERT INTO "BOARD_IMG" 
	<foreach collection="list" item="img" open="(" close=")" separator=" UNION ">
	
	SELECT NEXT_IMG_NO(), #{img.imgOrder},#{img.imgRename}, 
			 #{img.boardNo} , #{img.imgPath}
			 FROM DUAL
	
	</foreach>
	</insert>
	
</mapper>
