<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.kh.travel.member.model.mapper.MemberMapper">

<select id="login" resultType = "Member">

SELECT MEMBER_NO, MEMBER_NICKNAME,TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE, MEMBER_DEL_FL, MEMBER_EMAIL, MEMBER_PW, MEMBER_TEL, PROFILE_IMG, MEMBER_ADDRESS,
PROFILE_IMG, AUTHORITY
FROM "MEMBER"
WHERE MEMBER_EMAIL = #{memberEmail}
AND MEMBER_DEL_FL = 'N'

</select>





<!-- 회원가입 서비스 -->
<insert id= "signup">
INSERT INTO "MEMBER" VALUES(
SEQ_MEMBER_NO.NEXTVAL,
#{memberNickname},
DEFAULT,
DEFAULT,
#{memberEmail},
#{memberPw},
#{memberTel},
#{memberAddress},
DEFAULT,
DEFAULT)
</insert>



<!-- 이메일 중복 검사  -->
<select id= "checkEmail" resultType = '_int'> 
SELECT COUNT(*) FROM "MEMBER"
WHERE MEMBER_DEL_FL = 'N'
AND MEMBER_EMAIL = #{memberEmail}
</select>


<!-- 닉네임 중복 검사 -->
<select id="checkNickname" resultType = '_int'>
SELECT COUNT(*)
FROM "MEMBER"
WHERE MEMBER_DEL_FL = 'N'
AND MEMBER_NICKNAME = #{memberNickname}
</select>



</mapper>
