<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.travel.myPage.model.mapper.MyPageMapper">

	<!-- 프로필 이미지 변경 -->
	<update id="updateProfile">
		UPDATE "MEMBER" SET
		PROFILE_IMG = #{profileImg}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 회원정보 수정 -->
	<update id="updateInfo">
		UPDATE "MEMBER" SET
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_TEL = #{memberTel},
		MEMBER_ADDRESS = #{memberAddress}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 현재 비밀번호 조회 -->
	<select id="selectPw">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	 
	<!-- 회원 탈퇴 -->
	<update id="secession">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	  <!-- 게시글 수 조회 -->
  <select id="getListCount" >
	SELECT COUNT(*)
	FROM "BOARD"
	WHERE BOARD_DEL_FL = 'N'
	AND MEMBER_NO = #{memberNo}
  </select>
	
	<!-- 내가쓴글 조회 -->
	<select id="writing">
		SELECT BOARD_NO,COUNTRY_NAME, BOARD_TITLE,WRITE_DATE ,READ_COUNT,
				(SELECT COUNT(*)
				FROM "LIKE" L
				WHERE L.BOARD_NO  = B.BOARD_NO) LIKE_COUNT
		FROM "BOARD" B
		JOIN COUNTRY USING (COUNTRY_CODE)
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_DEL_FL = 'N'
		ORDER BY BOARD_NO DESC 
	</select>
	
	
</mapper>
